body {
    /* background-image: url("../dark_mosaic.png"); */
    background-color: #001E3B;
}

h1 {
    display: inline;
}

h2 {
    font-size: .75rem;
    color: rgb(179, 179, 179);
    margin-top: .5rem;
}

.lead {
    font-size: 2em;
}

span {
    color: rgb(179, 179, 179);
}

.navbar {
    background-color: #122a41;
    border-radius: 10px;
}

.btn {
    background-color: aliceblue;
}

.form-control {
    width: 500px;
}

.navbar-brand {
    color: white;
}

.jumbotron {
    color: rgb(180, 180, 180);
    background-color: #001E3B;
    align-items: center;
    margin: 0;
    padding: 2rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    /* background-image: radial-gradient(teal,white, teal); */
}

#topSection {}

.display-4 {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    text-shadow: 2px 2px black;
}

.input-group {
    margin-bottom: 1rem;
}

#search {
    /* color: teal; */
}

#search:hover {
    background-color: #bddfff;
}

#movie-section {
    margin: auto;
}

.movie-division {
    background-color: #285986;
    padding: .5rem;
    margin-bottom: .25rem;
    color: white;
    padding-left: 1em;
    padding-right: 1.5em;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.rotten-rating {
    /* margin: 1rem 0 1rem 0; */
    font-size: 1.5rem;
    margin-bottom: .25em;
}

.icon {
    height: 25px;
    width: 25px;
}

.movie-info {
    height: 250px;
}

.trailer {
    height: 100%;
    width: 100%;
}